/* header */
header {
  background-color: #0c65ed;
  font-size: 15px;
}

body {
  /* height: 5000px; */
}
/* Navbar */
.navbar {
  height: 120px;
}

.navbar a {
  font-size: 18px;
}
.nav-item > a {
  font-weight: 500;
}
.nav-item > a:hover {
  color: #0e64e7 !important;
}
/* about us */
section#about-us {
  width: 100%;
  /* height: 500px; */
  /* background-color: rgb(243, 241, 241); */
  font-size: 14px;
}

section#about-us .testing-about {
  z-index: 5;
  background-color: white;
  transform: translateY(45px);
}
.about-image {
  transform: translateX(70%);
  /* transform: translateY(20px); */
}
.more {
  border-radius: 14.25rem;
  /* width: 100px; */
  padding: 5px 22px;
  /* font-weight: bold; */
}

/* Counters */
section#counters {
  background-color: #f5f3f3;
}

section#counters .icon {
  font-size: 30px;
}

/* Our Services */
section#our-services {
  background-image: url(../images/banner.jpg);
  height: 950px;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Our Work */
section#our-work ul li a {
  font-weight: bold;
}
section#our-work ul li a:hover {
  color: #0e64e7 !important;
}

/* bg-image */

section#bg-image {
  width: 100%;
  height: 790px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/ecommerce-cover-2.jpg);
}

hr {
  background-color: #0f63e3 !important;
  border-color: #0f63e3 !important;
  opacity: 1;
}

.team-image {
  height: 400px;
  /* width: 70%; */
}

/* Subscribe */
section#subscribe {
  color: white;
  background-color: #1a1a1a;
}

.feature {
  width: 32% !important;
}

hr {
  height: 2px !important;
}
hr.top {
  transform: translateY(7px);
}

.parient {
  position: relative;
}

.chiled {
  position: absolute;
  opacity: 0;
  transition: 1s;
  top: 80%;
}
.parient:hover {
  background-color: white;
}
.parient:hover .chiled {
  opacity: 1;
  transform: translateY(-80%);
}

section#our-work .flag {
  background-color: #145ac6;
  opacity: 0;
  transform: translateY(250px);
  /* display: none; */
  transition: 2s;
  border-radius: 5px;
}

section#our-work .flag:hover {
  /* display: block; */
  /* background-color: red; */
  opacity: 0.8;
}



/* Form */
#myForm input {
  border-bottom: 1px solid black !important;
  border-radius: 0px;
}



/* Section Contact info */
section#contact-info {
  background-color: #1a1a1a;
  color: white;
}

section#contact-info p > span {
  display: inline-block;
  margin-right: 16px;
}

/* Section Footer */
section#footer {
  background-color: #1a1a1a;
  font-weight: bold;
  border-top: 2px solid #0f0f0f
}