/* Main Rules */
* {
  padding: 0px;
  margin: 0px;
}
.clear {
  clear: both;
}


/* Div Main */
.main {
  background-color: skyblue;
}

/* Div Container */
.container {
  width: 70%;
  margin: auto;
  font-family: Tahoma;
}

/* Div Contact */
.container .contact {
  width: 100%;
  padding: 5%;
  color: white;;
  margin-top: 50px;
  text-transform: uppercase;
}
.contact h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: Tahoma;
  font-size: 30px;
  margin-bottom: 30px;
}
.container form {
  width: 50%;
  float: left;
}

form input , textarea{
  width:90%;
  height: 40px;
  padding : 2%;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 14px;

}

input#company {
  width : 42%;
  float: left;
  margin-right: 10px;
}
input#phone {
  width: 42%;
  float: left;
}

button{
  float: right;
  margin-right: 30px;
  padding: 14px 25px;
  text-transform: uppercase;
  background-color: yellow;
  border: 0px;
  border-radius: 2px;
}
.container #contact-info {
  width: 40%;
  float: left;
  text-transform: uppercase;
  text-align: justify;
  padding: 5%;
}

#contact-info h2 , #contact-info p , #contact-info span{
  margin: 5px 0px;
}

#contact-info span {
  color: yellow;
}

#contact-info ul {
  margin: 20px;
}

#contact-info ul li {
  padding: 5px 0px;
}


