* {
  margin: 0px;
  padding: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* global style */
.container {
  width: 90%;
  margin: auto;
}

/* active link */
.active {
  color: #f98837;
}
.clear {
  clear: both;
}

body {
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* color White */
.text-white {
  color: white;
}
/* Navbar */
nav {
  background-color: black;
  color: white;
  padding: 1% 0;
}

nav h1 {
  max-width: 10%;
  height: 30px;
  float: left;
  text-transform: uppercase;
}
nav h1 > a {
  letter-spacing: 3px;
  font-weight: lighter;
}

nav h1 span {
  color: #f98837;
}
nav ul {
  text-align: right;
  min-width: 85%;
  float: right;
  line-height: 30px;
}

nav ul li {
  display: inline-block;
  /* padding-left: 20px; */
  margin-left: 5%;
}

nav ul li > a:hover {
  color: #f98837;
}

nav ul li > a:hover a.active {
  color: white;
}
